body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.texto {
  background: #ff0;
  border: 0;
  border: 1px solid #000;
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border: 22px double #f00;
  padding: 30px;
}
